<header class="header">
  <div class="header__container">
    <div class="header__image-container">
      <img
        class="header__image"
        src="../../../../assets/images/me.png"
        alt="Profile pic of Clint KIngston"
      />
    </div>
    <div class="header__container-gap header__container-gap--small"></div>
    <div class="header__info">
      <h1 class="header__title header__title--large">Clint Kingston</h1>
      <h2 class="header__subtitle header__subtitle--medium">{{ jobTitle }}</h2>
      <h2 class="header__subtitle header__subtitle--medium">
        {{ employerName }}
      </h2>
    </div>
  </div>
</header>
