h1,
h2 {
  margin: 0;
  padding: 0;
  line-height: normal;
}
.header {
  min-width: 330px;
  position: relative;
  padding-top: 4px;
  padding-bottom: 4px;
  color: black;
}

.header__container {
  padding-left: 16px;
  padding-right: 16px;
  display: flex;
  flex-direction: row;
  align-items: end;
  width: 100%;
}

.header__image {
  max-width: 60px;
  border-radius: 10px;
  border: 2px solid rgb(169, 169, 170);
}

.header__container-gap--small {
  width: 4px;
}

.header__info {
  display: flex;
  flex-direction: column;
  padding-bottom:2px;
}

.header__title--large {
  font-size: 24px;
}

.header__subtitle--medium {
  font-size: 16px;
}

.header__title,
.header__subtitle {
  /* text-shadow: 2px 2px 6px black; */
}

.navigation__hamburger-button {
  position: absolute;
  bottom: 0;
  right: 0;
  display: none;
  margin: 4px;
  width: 30px;
  height: 30px;
  background: white;
  border: 1px solid black;
  border-radius: 4px;
}

/* Small device*/
@media screen and (max-width: 431px) {
  .navigation__hamburger-button {
    display: block;
  }
  .header__container-gap--small {
    width: 4px;
  }
  .header__image {
    max-width: 45px;
  }
  .header__title--large {
    font-size: 20px;
  }

  .header__subtitle.header__subtitle--medium {
    font-size: 12px;
  }
}
