<div class="temp">
  <mat-card class="card">
    @if(fetchedPage){
    <mat-card-content>
      @for(section of fetchedPage.sections; track section){
      <h3 class="heading">{{ section.heading }}</h3>
      <div class="content-container">
        @for(item of section.content; track item){
        <div>
          <p class="content">{{ item }}</p>
        </div>
        }
        <div>
          <app-carousel
            class="medium"
            [images]="section.imageUrls"
          ></app-carousel>
        </div>
      </div>
      } </mat-card-content
    >}
  </mat-card>
</div>
