<nav class="navigation">
  <div class="navigation__desktop">
    <ng-container *ngTemplateOutlet="navMenu"></ng-container>
  </div>
  <div
    class="navigation__mobile"
    [@expandCollapse]="isMenuVisible ? 'expanded' : 'collapsed'"
  >
    <ng-container *ngTemplateOutlet="navMenu"></ng-container>
  </div>
  <div class="navigation__hamburger" (click)="toggleMenu()">
    <div class="hamburger-icon">
      <div class="bar"></div>
      <div class="bar"></div>
      <div class="bar"></div>
    </div>
  </div>
</nav>

<ng-template #navMenu>
  <ul class="navigation__menu" *ngFor="let navOption of navOptions">
    <a
      class="navigation__links"
      [routerLink]="navOption.url"
      routerLinkActive="active-route"
    >
      <li class="navigation__menu-items">
        {{ navOption.label }}
      </li>
    </a>
  </ul>
</ng-template>
