<nav class="navigation" [ngClass]="{ 'show-menu': isMenuVisible }">
  <div class="navigation__frame"></div>
  <div class="desktop-nav-menu">
    <ng-container *ngTemplateOutlet="navMenu"></ng-container>
  </div>
  <div
    class="mobile-nav-menu"
    [@expandCollapse]="isMenuVisible ? 'expanded' : 'collapsed'"
  >
    <ng-container *ngTemplateOutlet="navMenu"></ng-container>
  </div>
  <div class="navigation__frame"></div>
  <div class="navigation__hamburger" (click)="toggleMenu()">
    <ng-container *ngTemplateOutlet="hamburger"></ng-container>
  </div>
</nav>

<ng-template #navMenu>
  <div class="navigation__menu-container">
    <ul class="navigation__menu" *ngFor="let navOption of navOptions" c>
      <li class="navigation__menu-items">
        <a class="nav-link" href="#">{{ navOption }}</a>
      </li>
    </ul>
  </div>
</ng-template>

<ng-template #hamburger>
  <div class="hamburger-icon">
    <div class="bar"></div>
    <div class="bar"></div>
    <div class="bar"></div>
  </div>
</ng-template>
